@tailwind base;
@tailwind components;
@tailwind utilities;


#header_menu {
  width: 100%;
  padding: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  /* position: fixed; */
  top: 0;
  left: 0;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
#nav_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

nav a {
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  padding: 0 1rem;
  text-decoration: auto;
}

.router-link-active {
  color: green;
  text-decoration: underline;
}